<h1>Add Student</h1>

<form method="POST">
{% csrf_token %}

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

Name: <input type="text" name="name" value="{{ name|default_if_none:'' }}"><br><br>
Email: <input type="email" name="email" value="{{ email|default_if_none:'' }}"><br><br>
Course: <input type="text" name="course" value="{{ course|default_if_none:'' }}"><br><br>
Age: <input type="number" name="age" value="{{ age|default_if_none:'' }}"><br><br>

<button type="submit">Save</button>

</form>